.enroll-template-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--pay-color-text-primary);
  font-style: normal;

  .link__container {
    display: flex;
    align-items: center;

    .link__anchor {
      display: flex;
      gap: 10px;
      align-items: center;
      color: var(--pay-color-primary);
      font-size: var(--pay-font-size-base);
      font-style: normal;
      font-weight: var(--pay-font-weight-medium);
      line-height: 34px;
      text-decoration: underline;

      .link__icon {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 7.3px;
        height: 13.33px;
      }
    }

    .link__icon {
      height: var(--sizing-600);
      width: var(--sizing-600);
    }
  }

  .headline {
    font-size: var(--pay-font-size-xl);
    font-weight: var(--pay-font-weight-medium);
    line-height: 34px;
  }

  .statements-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;

    .statements-headline {
      color: var(--pay-color-text-primary);
      font-size: var(--pay-font-size-lg);
      font-weight: var(--pay-font-weight-medium);
      line-height: 22px;
      letter-spacing: -0.4px;
    }

    .statement-config-card {
      display: flex;
      padding: 16px 28px;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      border-radius: var(--pay-radius-xl);
      border: 2px solid var(--pay-color-border);
      background: var(--pay-color-white);

      input[type="checkbox"]:not([disabled="disabled"]) + label {
        margin: 0 !important;
        span { width: 100%; }
      }
    }

    .selected-card { border: 3px solid var(--pay-color-accent-blue); }
  }

  .button-continue {
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .button {
      padding: 0;
      .align-center { margin: 0; }
    }
  }
}
