header .cox-header-wraper .cox-cb-logo {
  background: url("https://assets.cox.com/is/image/cox/coxbusiness_logo_gradient_large?wid=180") no-repeat center !important;
  background-size: contain !important;
  text-indent: -99999px;
  height: 50px !important;
  width: 90px !important;
}

header .cox-cb-hr {
  background: var(--pay-gradient-busi) !important;
  height: 0.4375rem !important;
}
