#page-header {
  .primary-header {
    color: var(--pay-color-text-primary);
    font-size: var(--pay-font-size-xl);
    font-weight: var(--pay-font-weight-medium);
    line-height: 34px;
    padding-bottom: 16px;
  }

  .secondary-header {
    color: var(--pay-color-text-primary);
    font-size: var(--pay-font-size-lg);
    font-weight: var(--pay-font-weight-medium);
    line-height: 22px;
    padding: 16px 0;
  }
}
