.basic-modal .modal-header {
    padding: 1.5rem;
}

.basic-modal .modal-header .modal-title {
    text-align: left !important;
    margin-bottom: 0px;
}

.basic-modal .modal-footer {
    padding: 0px;
}

#easypay-terms-modal-cb .modal-content {
    border: 0px;
    border-radius: 0px;
}

#easypay-terms-modal-cb .modal-header-container {
    border-radius: 0px;
}